.overlay {
  height: 350px;
  padding-top: 60px;
  opacity: 0;
}

.background {
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.avatar {
  position: relative;
  z-index: 2;
  margin-top: -40%;
  border-radius: 50%;
}